<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='3rd-party/bootstrap/css/bootstrap.min.css') }}">

    <script src="{{ url_for('static', filename='3rd-party/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='3rd-party/jquery/js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='3rd-party/vue/js/vue.js') }}"></script>
</head>
<body>

</body>
</html>